<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>QVjTlDb9M2JTNEDmMQlULYR/Ck8MFcFi9D/MPFFWnsSgvCSDK2UGqi4QQYiLl81ML9moGhOokjmso5+dl3PyxTWqe4k/QYDct9V7UEB4OGitW+lp4SuSpoCUy3RZ9tdkvGfHfC+PRNV7GXcQ1j4iAU5ApPrDFPO4BH6eatLseAo=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>Ly5EFVgtcjsTLP1L7gW9lQThaRgdlXXvCmYICoZaUlg=</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>